[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-heroku = "*"
django-filter = "*"
django-extensions = "*"
django-user-agents = "*"
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"
yapf = "*"
whitenoise = "*"
pylint = "*"
pylint-django = "*"
pylint-quotes = "*"

[requires]
python_version = "3.9"
